<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main-content" menuId="menu">
      <ion-header>
        <ion-toolbar color="warning">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages">
            <ion-item *ngIf="!page.restriction_type_user || (page.restriction_type_user && restrictionCheck(page.restriction_type_user))" lines="none" color="bar-balanced" [routerDirection]="'root'" [routerLink]="page.url">
              <ion-icon style="color:#003e59 !important;font-size:32px !important;" slot="start" 
                [name]="page.icon"></ion-icon>
              <ion-label style="color:#003e59 !important;font-size:17px !important;font-weight:500 !important;">
                {{page.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
        <ion-footer>
          <ion-item color="danger"
            [routerLink]="'/login'" routerDirection="forward">
            <ion-icon slot="start" icon="log-out" name="log-out"></ion-icon>
            <ion-label>Sair </ion-label>
          </ion-item>
        </ion-footer>
    </ion-menu>
    <div class="ion-page" id="main-content">
        <ion-router-outlet id="main"></ion-router-outlet>
    </div>
  </ion-split-pane>
</ion-app>