<ion-content>
  <ion-list *ngFor="let item of listDaysOfTheWeekSelected">
    <ion-item>
      <ion-label>
        {{ item.name }}
      </ion-label>
      <ion-icon name="add"></ion-icon>
    </ion-item>
    <ion-card>
      <ion-label *ngFor="let item of listHoursByDaysOfTheWeek">
        <ion-item>
          <ion-icon (click)="removeItem(item.id)" name="trash"></ion-icon>
          <ion-input type="time" placeholder="Horário incial" class="text-center" (ionChange)="setItem()" [value]="item.time"></ion-input>
        </ion-item>
      </ion-label>
    </ion-card>
  </ion-list>
  <ion-card>
    <ion-card-header>
      <label>Nenhum dia da semana selecionado!</label>
    </ion-card-header>
  </ion-card>
</ion-content>