<ion-content>
  <ion-card>
    <ion-list *ngFor="let dayWeek of listSchedules | keyvalue">
      <ion-item>
        <ion-label>
          {{ scheduleStore.getDayWeek(dayWeek.value.day_week) }}
        </ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <ion-item
            *ngFor="let itemTime of dayWeek.value.times | keyvalue"
            (click)="setScheduleTime(dayWeek.value, itemTime.value)"
          >
            <ion-label> {{ itemTime.value.time }} </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      ion-button
      color="danger"
      expand="full"
      (click)="requestCancelSchedule()"
    >
      Cancelar solicitação
    </ion-button>
  </ion-toolbar>
</ion-footer>
