<ion-content>
  <ion-card>
    <ion-list *ngFor="let dayWeek of listSchedules | keyvalue">
      <ion-item>
        <ion-label>
          {{ scheduleStore.getDayWeek(dayWeek.value.day_week) }}
        </ion-label>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <ion-item
            *ngFor="let itemTime of dayWeek.value.times | keyvalue"
            (click)="setScheduleTime(dayWeek.value, itemTime.value)"
          >
            <ion-label> {{ itemTime.value.time }} </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item
      class="ion-text-right"
      [class]="getClassByStatus(attendances.status)"
    >
      <ion-label *ngIf="attendances.status === getEAttendancesStatus.waiting">
        <ion-button
          ion-button
          color="danger"
          expand="full"
          (click)="requestCancelSchedule()"
        >
          Cancelar solicitação
        </ion-button>
      </ion-label>
      <ion-label *ngIf="attendances.status === getEAttendancesStatus.approved">
        Aprovado <ion-icon name="checkmark-outline"></ion-icon>

        <br />
        <span>Favor comparecer no dia e horário corretamente</span>
      </ion-label>
      <ion-label *ngIf="attendances.status === getEAttendancesStatus.denied">
        Negado <ion-icon name="information-outline"></ion-icon>

        <br />
        {{ attendances.obs }}
      </ion-label>
      <ion-label *ngIf="attendances.status === getEAttendancesStatus.cancel">
        Cancelado <ion-icon name="information-outline"></ion-icon>

        <br />
        <span>{{ attendances.obs }}</span>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>
