<ion-card>
  <ion-card-header>
    <label>Informações do serviço</label>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input type="text" [(ngModel)]="form.name" placeholder="Nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea [(ngModel)]="form.job_info[0].text" [placeholder]="form.job_info[0].name"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input type="number" [(ngModel)]="form.job_info[1].value" [placeholder]="form.job_info[1].name"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      color="danger"
      (click)="save()"
      >Salvar</ion-button
    >
  </ion-card-content>
</ion-card>