<ion-card>
  <ion-card-header>
    <label>Informações do serviço</label>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input type="text" [(ngModel)]="job.name" placeholder="Nome"></ion-input>
      </ion-item>

      <ion-item *ngFor="let item of job.job_info">
        <ion-label *ngIf="item.type !== 'text'">
          {{ item.name }}
        </ion-label>
        <ion-textarea *ngIf="item.type === 'text'" [(ngModel)]="item.text" [placeholder]="item.name"></ion-textarea>
        <ion-input *ngIf="item.type === 'desc'" type="text" [(ngModel)]="item.value"></ion-input>
        <ion-input *ngIf="item.type === 'number'" type="number" inputmode="numeric" [(ngModel)]="item.value"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      color="danger"
      (click)="save()"
      >Salvar</ion-button
    >
  </ion-card-content>
</ion-card>