<ion-content>
  <ion-card>
    <ion-item>
      <ion-input type="date" [(ngModel)]="filters.date" (change)="getListAllSchedules()" placeholder="Data" value="2022-10-05"></ion-input>
    </ion-item>

    <ion-list inset>
      <ion-radio-group value="scheduleSelected">
        <ion-item *ngFor="let item of listSchedules" (click)="setSchedule(item)">
          <ion-label>{{ item.date }} - {{ item.time }}</ion-label>
          <ion-radio checked="true" value="{{ item.id }}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button ion-button color="danger" expand="full" (click)="addSchedule()">
      Adicionar
    </ion-button>
  </ion-toolbar>
</ion-footer>