<ion-content>
  <ion-slides
    [options]="slideOpts"
    #slide
    effect="fade"
    (ionSlideDidChange)="onSlideChange()"
  >
    <ion-slide>
      <app-days-of-week
        (listDaysOfTheWeekSelected)="setListDaysOfTheWeek($event)"
      ></app-days-of-week>
    </ion-slide>
    <ion-slide>
      <app-hours-of-the-week
        [listDaysOfTheWeekSelected]="listDaysOfTheWeekSelected"
      ></app-hours-of-the-week>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-row style="display: flex; justify-content: space-between">
      <ion-button *ngIf="!isBeginning" fill="clear" (click)="slide.slidePrev()"
        >Voltar <ion-icon slot="start" name="arrow-back-outline"></ion-icon
      ></ion-button>
      <ion-button
        *ngIf="!isBeginning"
        color="danger"
        (click)="save()"
        >Salvar</ion-button
      >
      <ion-button *ngIf="!isEnd" fill="clear" (click)="slide.slideNext();"
        >Próximo <ion-icon slot="end" name="arrow-forward"></ion-icon
      ></ion-button>
    </ion-row>
  </ion-item>
</ion-footer>
