<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start" [routerLink]="['','jobs']" color="light">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs #myTabs>
    <ion-tab-bar slot="bottom" color="warning">
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-tab-button>
      <ion-tab-button *ngIf="job.id > 0" tab="schedules">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Horários</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>