<ion-header>
    <ion-toolbar color="primary">
        <ion-title style="text-align: center">Gestor de Consultas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-item>
            <ion-label>
                <ion-icon name="contact"></ion-icon>
            </ion-label>
            <ion-input type="text" id="email" placeholder="E-mail" [(ngModel)]="form.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-icon name="unlock"></ion-icon>
            </ion-label>
            <ion-input type="password" id="password" placeholder="Informe sua senha..." [(ngModel)]="form.password"></ion-input>
        </ion-item>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button *ngIf="!isLoading" color="primary" expand="full" fill="solid" (click)=login()>Acessar
        </ion-button>
    </ion-toolbar>
    <ion-toolbar>
        <ion-button *ngIf="!isLoading" color="primary" expand="full" fill="solid" (click)=register()>Não sou cadastrado
        </ion-button>
    </ion-toolbar>
</ion-footer>