<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Serviços disponíveis</ion-title>
  </ion-toolbar>
  <ion-toolbar color="warning">
    <ion-searchbar
      [(ngModel)]="filters.name"
      animated="true"
      (keyup.enter)="onSearch($event)"
      placeholder="Buscar profissional"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-card no-padding>
    <ion-card-content no-padding>
      <ion-list
        lines="full"
        *ngFor="let item of listJobs"
        (click)="itemSelected(item)"
      >
        <ion-item lines="none">
          <ion-avatar>
            <img
              width="50px"
              alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
          <h2>{{ item.name }}</h2>
        </ion-item>
        <ion-item *ngIf="item.user" lines="none">
          <h3>{{ item.user.name }}</h3>
        </ion-item>
        <ion-item *ngFor="let item of item.job_info">
          {{ item.name }}: {{ item.value > 0 ? item.value : item.text}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Buscando mais dados..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
