<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Serviços disponíveis</ion-title>
  </ion-toolbar>
  <ion-toolbar color="warning">
    <ion-searchbar [(ngModel)]="filters.search" animated="true" (keyup.enter)="getListAllJobs()" placeholder="Buscar profissionais"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-card no-padding>
    <ion-card-content no-padding>
      <ion-list style="padding: 10px 0;" lines="full" *ngFor="let item of listJobs" (click)="itemSelected(item)">
        <ion-item lines="none">
          <ion-avatar>
            <img width="50px" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <h2>{{ item.person.name }}</h2>
        </ion-item>
        <ion-item>
          {{ item.name }}
        </ion-item>        
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>