<ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start" [routerLink]="['','login']" color="light">
        <ion-back-button></ion-back-button>
      </ion-buttons>
        <ion-title style="text-align: center">Cadastro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-item>
            <ion-select [(ngModel)]="form.user_type_id" placeholder="Selecione o tipo de usuário">
                <ion-select-option [value]="item.id" *ngFor="let item of listUserType">{{ item.name }}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-input type="text" id="name" placeholder="Nome" [(ngModel)]="form.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" id="email" placeholder="E-mail" [(ngModel)]="form.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" id="password" placeholder="Informe sua senha..." [(ngModel)]="form.password"></ion-input>
        </ion-item>
        <ion-button *ngIf="!isLoading" color="danger" size="small" expand="full" fill="solid" (click)=save()>
            Salvar
        </ion-button>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button *ngIf="!isLoading" color="medium" size="small" expand="full" fill="solid" [routerLink]="['','login']">Cancelar
        </ion-button>
    </ion-toolbar>
</ion-footer>